[class$="-section"] {
  width: 80%;
  min-height: 5em;
  margin: 0 auto;
}
.authorization {
  display: flex;
  justify-content: right;
  background-color: cadetblue;
}
#authorization {
  text-align: right;
  background-color: cadetblue;
  padding: 0.5em 1em;
  color: darkgreen;
}
#authorization-btn {
  background-color: cadetblue;
  border-left: 2px solid darkgreen;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 0em 2em;
  display: none;
  color: darkgreen;
  font-weight: bold;
}
.header-section,
.footer-section {
  width: 100%;
}

.header-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.footer-section {
  display: flex;
  justify-content: center;
}

.footer-section p {
  font-size: 2em;
}

@media (max-width: 1200px) {
  [class$="-section"] {
    width: 100%;
  }
  .header-section {
    background-color: rgb(198, 211, 223);
  }
}

@media (max-width: 700px) {
  [class$="-section"] {
    width: 100%;
  }

  .header-section {
    background-color: rgb(163, 173, 182);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    /* background-color: aliceblue; */
    margin-top: 40px;
    margin-left: 20px;
  }

  .main-menu {
    grid-column: 2/3;
    grid-row: 1/3;
    /* background-color: aliceblue; */
  }
  .currency {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 40px;
    margin-left: 20px;
    /* background-color: aliceblue; */
  }
  .main-menu ul {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
  }
}
